<a href="https://colab.research.google.com/github/sadmaaan/Practice-Public-Dataset-ML/blob/main/Offline1_011171147.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [149]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report

In [150]:
df = pd.read_csv("tic-tac-toe.csv")

In [151]:
df.head()

  top-left-square top-middle-square  ... bottom-right-square     Class
0               x                 x  ...                   o  positive
1               x                 x  ...                   o  positive
2               x                 x  ...                   x  positive
3               x                 x  ...                   b  positive
4               x                 x  ...                   b  positive

[5 rows x 10 columns]

In [152]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
print(X)
print(y)

    top-left-square top-middle-square  ... bottom-middle-square bottom-right-square
0                 x                 x  ...                    o                   o
1                 x                 x  ...                    x                   o
2                 x                 x  ...                    o                   x
3                 x                 x  ...                    b                   b
4                 x                 x  ...                    o                   b
..              ...               ...  ...                  ...                 ...
953               o                 x  ...                    x                   x
954               o                 x  ...                    o                   x
955               o                 x  ...                    o                   x
956               o                 x  ...                    o                   x
957               o                 o  ...                    x                   x

[958 rows x 9 columns]
0      positive
1      positive
2      positive
3      positive
4      positive
         ...
953    negative
954    negative
955    negative
956    negative
957    negative
Name: Class, Length: 958, dtype: object

In [153]:
# Splitting data into 90% train and 10% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=44)

In [154]:
def fit(X_train, y_train):
  p_positive, p_negative = 0, 0
  for y in y_train:
    if y == 'positive':
      p_positive += 1
    else:
      p_negative += 1

  attributes = [ {} for col in X_train.columns]
  for index, col in enumerate(X_train.columns):
    for i in X_train.index:
      attr_val = X_train[col][i]
      if attr_val in attributes[index]:
        c = y_train[i]
        if c == 'positive':
          attributes[index][attr_val][1] += 1
        else:
          attributes[index][attr_val][0] += 1
      else:
        attributes[index][attr_val] = [0, 0]
        c = y_train[i]
        if c == 'positive':
          attributes[index][attr_val][1] += 1
        else:
          attributes[index][attr_val][0] += 1

  return p_positive/X_train.shape[0], p_negative/X_train.shape[0], attributes

In [155]:
def predict(X_test, p_positive, p_negative, attr_prob):
  y_pred = []

  for i in X_test.index:
    pos = p_positive
    neg = p_negative
    for ind,col in enumerate(X_test.columns):
      attr = X_test[col][i]
      pos *= ((attr_prob[ind][attr][1]) / p_positive)
      neg *= ((attr_prob[ind][attr][0]) / p_negative)

    p = pos / (pos + neg)
    n = 1 - p

    if p > n:
      y_pred.append('positive')
    else:
      y_pred.append('negative')
  
  return y_pred

In [156]:
p_positive, p_negative, attr_prob = fit(X_train, y_train)

#print(p_positive, p_negative, attr_prob)

y_pred = predict(X_test, p_positive, p_negative, attr_prob)

In [157]:
acc = metrics.accuracy_score(y_test, y_pred)
print(acc)

0.7604166666666666

In [158]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[16 12]
 [11 57]]

In [132]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

    negative       0.59      0.57      0.58        28
    positive       0.83      0.84      0.83        68

    accuracy                           0.76        96
   macro avg       0.71      0.70      0.71        96
weighted avg       0.76      0.76      0.76        96